In [405]:
import random
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [406]:
projetos = [f'Projeto {i+1}' for i in range(20)]
localizacoes = [f'Local {random.randint(1, 100)}' for _ in range(20)]
custos = [random.randint(100000, 1000000) for _ in range(20)]
datas_inicio = [datetime.now() - timedelta(days=random.randint(30, 365)) for _ in range(20)]
datas_termino = [data + timedelta(days=random.randint(30, 365)) for data in datas_inicio]
status = random.choices(['Em andamento', 'Concluído', 'Cancelado'], k=20)
responsaveis = [f'Engenheiro {random.randint(1, 10)}' for _ in range(20)]
tipos_construcao = random.choices(['Residencial', 'Comercial', 'Industrial'], k=20)
areas = [random.randint(50, 500) for _ in range(20)]
andares = [random.randint(1, 10) for _ in range(20)]

# Criar o DataFrame
df_construcao = pd.DataFrame({
    'Nome do Projeto': projetos,
    'Localização': localizacoes,
    'Custo (R$)': custos,
    'Data de Início': datas_inicio,
    'Data de Término': datas_termino,
    'Status': status,
    'Responsável': responsaveis,
    'Tipo de Construção': tipos_construcao,
    'Área (m²)': areas,
    'Número de Andares': andares
})
df_construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares
0,Projeto 1,Local 1,902873,2024-06-25 13:36:21.672880,2025-02-26 13:36:21.672880,Cancelado,Engenheiro 3,Comercial,104,3
1,Projeto 2,Local 29,563640,2024-02-22 13:36:21.672880,2024-11-02 13:36:21.672880,Cancelado,Engenheiro 3,Industrial,437,6
2,Projeto 3,Local 92,448732,2024-08-27 13:36:21.672880,2024-12-10 13:36:21.672880,Concluído,Engenheiro 8,Industrial,419,5
3,Projeto 4,Local 88,574246,2024-05-29 13:36:21.672880,2024-12-29 13:36:21.672880,Concluído,Engenheiro 7,Comercial,204,6
4,Projeto 5,Local 60,930506,2024-07-03 13:36:21.672880,2025-06-02 13:36:21.672880,Em andamento,Engenheiro 3,Industrial,483,7
5,Projeto 6,Local 68,854133,2024-03-10 13:36:21.672880,2024-11-14 13:36:21.672880,Cancelado,Engenheiro 10,Comercial,151,8
6,Projeto 7,Local 20,587724,2024-03-13 13:36:21.672880,2024-11-30 13:36:21.672880,Em andamento,Engenheiro 2,Industrial,197,9
7,Projeto 8,Local 62,514449,2024-08-18 13:36:21.672880,2025-03-27 13:36:21.672880,Em andamento,Engenheiro 7,Residencial,173,2
8,Projeto 9,Local 61,547616,2024-03-17 13:36:21.672880,2024-05-13 13:36:21.672880,Concluído,Engenheiro 3,Industrial,102,3
9,Projeto 10,Local 31,219080,2024-06-01 13:36:21.672880,2024-11-19 13:36:21.672880,Concluído,Engenheiro 9,Industrial,260,3
10,Projeto 11,Local 60,271148,2024-08-30 13:36:21.672880,2025-08-05 13:36:21.672880,Em andamento,Engenheiro 10,Comercial,150,9
11,Projeto 12,Local 99,307980,2025-01-06 13:36:21.672880,2025-07-07 13:36:21.672880,Cancelado,Engenheiro 1,Comercial,356,2
12,Projeto 13,Local 86,119133,2024-07-02 13:36:21.672880,2024-09-20 13:36:21.672880,Concluído,Engenheiro 2,Industrial,149,10
13,Projeto 14,Local 84,331863,2024-09-24 13:36:21.672880,2025-03-21 13:36:21.672880,Em andamento,Engenheiro 7,Comercial,137,10
14,Projeto 15,Local 26,548771,2024-11-16 13:36:21.672880,2025-11-16 13:36:21.672880,Em andamento,Engenheiro 8,Residencial,382,1
15,Projeto 16,Local 49,110776,2024-09-24 13:36:21.672880,2025-06-16 13:36:21.672880,Em andamento,Engenheiro 9,Industrial,65,4
16,Projeto 17,Local 87,267568,2024-05-24 13:36:21.672880,2024-09-14 13:36:21.672880,Concluído,Engenheiro 6,Comercial,122,7
17,Projeto 18,Local 95,278998,2024-05-12 13:36:21.672880,2025-05-01 13:36:21.672880,Em andamento,Engenheiro 5,Comercial,423,7
18,Projeto 19,Local 94,207294,2024-12-15 13:36:21.672880,2025-07-09 13:36:21.672880,Concluído,Engenheiro 5,Industrial,153,6
19,Projeto 20,Local 24,215678,2024-04-17 13:36:21.672880,2024-07-19 13:36:21.672880,Cancelado,Engenheiro 7,Industrial,480,5

In [407]:
df_construcao.to_csv('teste1',index=False)

In [408]:
construcao= pd.read_csv(r"C:\Users\Jair\Documents\Estudos Jair\projeto_machine_learning\projeto_pandas\projeto1\datasets\teste1")

In [409]:
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,2
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,7
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,8
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,3
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,9
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,5
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,5
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,1
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,1
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,6
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,2
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,1
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,4
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,6
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,10
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,8
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,5
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,6

Exibindo as primeiras linhas de uma função

In [410]:
construcao.head()

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,2
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,7
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,8
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,3

Informações gerais sobre o datafreme

In [411]:
construcao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome do Projeto     20 non-null     object
 1   Localização         20 non-null     object
 2   Custo (R$)          20 non-null     int64
 3   Data de Início      20 non-null     object
 4   Data de Término     20 non-null     object
 5   Status              20 non-null     object
 6   Responsável         20 non-null     object
 7   Tipo de Construção  20 non-null     object
 8   Área (m²)           20 non-null     int64
 9   Número de Andares   20 non-null     int64
dtypes: int64(3), object(7)
memory usage: 1.7+ KB

Saber se é um dataframe

In [412]:
type(construcao)

pandas.core.frame.DataFrame

sabendo o numero de linhas e colunas

In [413]:
construcao.shape

(20, 10)

In [414]:
print(f'O dataframe possui {construcao.shape[0]} linhas e {construcao.shape[1] }colunas ' )

O dataframe possui 20 linhas e 10colunas

Metódo dataframe.coluns retorna uma lista com todas as colunas

In [415]:
construcao.columns

Index(['Nome do Projeto', 'Localização', 'Custo (R$)', 'Data de Início',
       'Data de Término', 'Status', 'Responsável', 'Tipo de Construção',
       'Área (m²)', 'Número de Andares'],
      dtype='object')

In [416]:
type(construcao.columns)

pandas.core.indexes.base.Index

In [417]:
list(construcao.columns)

['Nome do Projeto',
 'Localização',
 'Custo (R$)',
 'Data de Início',
 'Data de Término',
 'Status',
 'Responsável',
 'Tipo de Construção',
 'Área (m²)',
 'Número de Andares']

In [418]:
construcao_rename = construcao.rename(columns={
    'Custo (R$)' : 'CUSTO (R$)'
})
construcao_rename

,Nome do Projeto,Localização,CUSTO (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,2
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,7
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,8
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,3
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,9
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,5
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,5
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,1
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,1
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,6
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,2
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,1
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,4
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,6
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,10
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,8
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,5
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,6

Vendo as colunas

In [419]:
construcao['Status']

0        Concluído
1        Cancelado
2        Concluído
3        Concluído
4        Concluído
5        Cancelado
6        Cancelado
7        Cancelado
8        Cancelado
9     Em andamento
10       Cancelado
11    Em andamento
12       Concluído
13       Cancelado
14       Concluído
15    Em andamento
16    Em andamento
17       Cancelado
18       Concluído
19       Cancelado
Name: Status, dtype: object

Pesquisas pelo index

In [420]:
construcao.iloc[1]

Nome do Projeto                        Projeto 2
Localização                             Local 72
Custo (R$)                                955373
Data de Início        2024-10-24 00:10:46.519024
Data de Término       2025-07-23 00:10:46.519024
Status                                 Cancelado
Responsável                        Engenheiro 10
Tipo de Construção                    Industrial
Área (m²)                                    387
Número de Andares                              1
Name: 1, dtype: object

Criando uma dataframe a partir de 1 series

In [421]:
pd.Series([10.00, 07.00, 08.00])

0    10.0
1     7.0
2     8.0
dtype: float64

Nomeando os indices

In [422]:
pd.Series([10.00, 07.00, 08.00],index=['Matematica', 'Ingles', 'Historia'] , name='PROVAS')

Matematica    10.0
Ingles         7.0
Historia       8.0
Name: PROVAS, dtype: float64

Atribuindo constantes 
armazenando uma siries em uam variavel e usando para vizualizar

In [423]:
construcao_view = construcao['Status']
construcao_view

0        Concluído
1        Cancelado
2        Concluído
3        Concluído
4        Concluído
5        Cancelado
6        Cancelado
7        Cancelado
8        Cancelado
9     Em andamento
10       Cancelado
11    Em andamento
12       Concluído
13       Cancelado
14       Concluído
15    Em andamento
16    Em andamento
17       Cancelado
18       Concluído
19       Cancelado
Name: Status, dtype: object

Porém não é uma copia, caso eu mude algo naquela coluna no dataframe original o construcao_view tambem vai mudar

Usando o .copy consigo armazenar essa siries

In [424]:
construcao_view_BKP = construcao['Status'].copy()
construcao_view_BKP

0        Concluído
1        Cancelado
2        Concluído
3        Concluído
4        Concluído
5        Cancelado
6        Cancelado
7        Cancelado
8        Cancelado
9     Em andamento
10       Cancelado
11    Em andamento
12       Concluído
13       Cancelado
14       Concluído
15    Em andamento
16    Em andamento
17       Cancelado
18       Concluído
19       Cancelado
Name: Status, dtype: object

Criando uma nova coluna

In [425]:
construcao['Poder'] = 'Defalt2'
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,2,Defalt2
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1,Defalt2
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,7,Defalt2
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,8,Defalt2
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,3,Defalt2
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,9,Defalt2
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,5,Defalt2
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,5,Defalt2
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,1,Defalt2
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9,Defalt2
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,1,Defalt2
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,6,Defalt2
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,2,Defalt2
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,1,Defalt2
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,4,Defalt2
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,6,Defalt2
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,10,Defalt2
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,8,Defalt2
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,5,Defalt2
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,6,Defalt2

Atribuindo - colocando uma variavel com uma virgula e depois outra variavel e consigo atribuir 1 valor em cada variavel

In [426]:
nrows, ncols = construcao.shape

In [427]:
nrows

20

In [428]:
ncols

11

Criando uma forma de contar de 0 ao final de nrows

In [429]:
level_poder = [f'{i}' for i in range(nrows)]
level_poder

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19']

In [430]:
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,2,Defalt2
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1,Defalt2
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,7,Defalt2
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,8,Defalt2
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,3,Defalt2
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,9,Defalt2
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,5,Defalt2
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,5,Defalt2
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,1,Defalt2
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9,Defalt2
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,1,Defalt2
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,6,Defalt2
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,2,Defalt2
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,1,Defalt2
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,4,Defalt2
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,6,Defalt2
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,10,Defalt2
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,8,Defalt2
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,5,Defalt2
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,6,Defalt2

In [431]:
construcao['Número de Andares'] = level_poder

In [432]:
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,0,Defalt2
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1,Defalt2
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,2,Defalt2
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,3,Defalt2
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,4,Defalt2
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,5,Defalt2
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,6,Defalt2
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,7,Defalt2
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,8,Defalt2
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9,Defalt2
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,10,Defalt2
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,11,Defalt2
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,12,Defalt2
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,13,Defalt2
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,14,Defalt2
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,15,Defalt2
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,16,Defalt2
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,17,Defalt2
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,18,Defalt2
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,19,Defalt2

Criando colunas
Usando o range com o .shape podemos contar no automatico

In [433]:
construcao['coluna sem nocao'] =range( construcao.shape[0])
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1,Defalt2,1
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,2,Defalt2,2
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,3,Defalt2,3
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,4,Defalt2,4
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,5,Defalt2,5
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,6,Defalt2,6
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,7,Defalt2,7
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,8,Defalt2,8
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9,Defalt2,9
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,10,Defalt2,10
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,11,Defalt2,11
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,12,Defalt2,12
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,13,Defalt2,13
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,14,Defalt2,14
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,15,Defalt2,15
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,16,Defalt2,16
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,17,Defalt2,17
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,18,Defalt2,18
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,19,Defalt2,19

In [434]:
construcao['coluna sem nocao'] = construcao['coluna sem nocao']* 3
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,4,Defalt2,12
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,5,Defalt2,15
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,6,Defalt2,18
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,7,Defalt2,21
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,8,Defalt2,24
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9,Defalt2,27
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,10,Defalt2,30
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,11,Defalt2,33
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,12,Defalt2,36
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,13,Defalt2,39
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,14,Defalt2,42
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,15,Defalt2,45
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,16,Defalt2,48
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,17,Defalt2,51
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,18,Defalt2,54
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,19,Defalt2,57

Usando essa função para transformar a coluna em um tipó numerico

In [435]:
construcao['coluna sem nocao'] = pd.to_numeric(construcao['coluna sem nocao'])

In [436]:
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,4,Defalt2,12
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,5,Defalt2,15
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,6,Defalt2,18
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,7,Defalt2,21
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,8,Defalt2,24
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,9,Defalt2,27
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,10,Defalt2,30
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,11,Defalt2,33
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,12,Defalt2,36
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,13,Defalt2,39
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,14,Defalt2,42
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,15,Defalt2,45
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,16,Defalt2,48
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,17,Defalt2,51
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,18,Defalt2,54
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,19,Defalt2,57

mundando os indices numericos por palavras

In [437]:
teste2 = pd.DataFrame({
    'bom' : [50, 21, 100],
    'ruim' : [131, 2, 30],
    'pessimo' : [30, 20 ,1]}
,index= ['xboxone', 'playstation4', 'swith'] )
teste2

              bom  ruim  pessimo
xboxone        50   131       30
playstation4   21     2       20
swith         100    30        1

In [438]:
teste2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, xboxone to swith
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bom      3 non-null      int64
 1   ruim     3 non-null      int64
 2   pessimo  3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [439]:
teste2.loc['xboxone' : 'swith']

              bom  ruim  pessimo
xboxone        50   131       30
playstation4   21     2       20
swith         100    30        1

In [440]:
teste2.loc[: 'swith']

              bom  ruim  pessimo
xboxone        50   131       30
playstation4   21     2       20
swith         100    30        1

In [441]:
teste2.loc[['xboxone', 'swith']]

         bom  ruim  pessimo
xboxone   50   131       30
swith    100    30        1

In [442]:
type(construcao.iloc[1])

pandas.core.series.Series

Uma forma de usar o nrows
o nrows esta armezenado a quande de linhas
usando uma estrutura de repetição

In [443]:
andares1 = [f'Andares {i}' for i in range(nrows)  ]
andares1

['Andares 0',
 'Andares 1',
 'Andares 2',
 'Andares 3',
 'Andares 4',
 'Andares 5',
 'Andares 6',
 'Andares 7',
 'Andares 8',
 'Andares 9',
 'Andares 10',
 'Andares 11',
 'Andares 12',
 'Andares 13',
 'Andares 14',
 'Andares 15',
 'Andares 16',
 'Andares 17',
 'Andares 18',
 'Andares 19']

In [444]:
construcao.head()

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,4,Defalt2,12

In [445]:
construcao['Número de Andares'] = andares1
construcao.head()

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,Andares 0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,Andares 1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,Andares 2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,Andares 3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,Andares 4,Defalt2,12

Usando a função .unique rfetorna os valores

In [446]:
construcao['Nome do Projeto'].unique()

array(['Projeto 1', 'Projeto 2', 'Projeto 3', 'Projeto 4', 'Projeto 5',
       'Projeto 6', 'Projeto 7', 'Projeto 8', 'Projeto 9', 'Projeto 10',
       'Projeto 11', 'Projeto 12', 'Projeto 13', 'Projeto 14',
       'Projeto 15', 'Projeto 16', 'Projeto 17', 'Projeto 18',
       'Projeto 19', 'Projeto 20'], dtype=object)

In [447]:
construcao.head()

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,Andares 0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,Andares 1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,Andares 2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,Andares 3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,Andares 4,Defalt2,12

In [448]:
selecao = construcao.query("`Tipo de Construção` == 'Comercial'")
selecao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,Andares 0,Defalt2,0
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,Andares 2,Defalt2,6
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,Andares 4,Defalt2,12
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,Andares 7,Defalt2,21
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,Andares 13,Defalt2,39
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,Andares 15,Defalt2,45

In [449]:
type(selecao)

pandas.core.frame.DataFrame

In [450]:
selecao.shape

(6, 12)

In [451]:
novas_linhas = pd.DataFrame([
      {  'NOME' : 'Luke Skywalker',
        'IDADE' : 33,
        'PESO' : 75.5,
        'ED_JEDI' : True,
        'PODER' : 3,
        'Coluna a partir de lista' : 3,
        'PODER(Pós Arco)' : 6}
])
teste2= pd.concat([teste2, novas_linhas])
teste2.head()

,bom,ruim,pessimo,NOME,IDADE,PESO,ED_JEDI,PODER,Coluna a partir de lista,PODER(Pós Arco)
xboxone,50.0,131.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
playstation4,21.0,2.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
swith,100.0,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,Luke Skywalker,33.0,75.5,True,3.0,3.0,6.0

In [452]:
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,Andares 0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,Andares 1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,Andares 2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,Andares 3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,Andares 4,Defalt2,12
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,Andares 5,Defalt2,15
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,Andares 6,Defalt2,18
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,Andares 7,Defalt2,21
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,Andares 8,Defalt2,24
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,Andares 9,Defalt2,27
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,Andares 10,Defalt2,30
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,Andares 11,Defalt2,33
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,Andares 12,Defalt2,36
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,Andares 13,Defalt2,39
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,Andares 14,Defalt2,42
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,Andares 15,Defalt2,45
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,Andares 16,Defalt2,48
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,Andares 17,Defalt2,51
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,Andares 18,Defalt2,54
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,Andares 19,Defalt2,57

In [453]:
(construcao['Tipo de Construção'] == 'Industrial') |  (construcao ['Status'] == 'Concluído')

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9     False
10     True
11    False
12     True
13    False
14     True
15    False
16     True
17    False
18     True
19     True
dtype: bool

In [454]:
(construcao['Tipo de Construção'] == 'Industrial') &  (construcao ['Status'] == 'Concluído')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
dtype: bool

In [455]:
construcao

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,Andares 0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,Andares 1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,Andares 2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,Andares 3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,Andares 4,Defalt2,12
5,Projeto 6,Local 29,458734,2024-02-18 00:10:46.519024,2024-04-14 00:10:46.519024,Cancelado,Engenheiro 6,Industrial,483,Andares 5,Defalt2,15
6,Projeto 7,Local 53,121083,2024-07-04 00:10:46.519024,2025-05-28 00:10:46.519024,Cancelado,Engenheiro 9,Industrial,417,Andares 6,Defalt2,18
7,Projeto 8,Local 34,574641,2024-07-30 00:10:46.519024,2024-11-05 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,195,Andares 7,Defalt2,21
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,Andares 8,Defalt2,24
9,Projeto 10,Local 69,218529,2024-12-27 00:10:46.519024,2025-06-20 00:10:46.519024,Em andamento,Engenheiro 2,Residencial,333,Andares 9,Defalt2,27
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,Andares 10,Defalt2,30
11,Projeto 12,Local 96,185978,2024-03-07 00:10:46.519024,2024-11-21 00:10:46.519024,Em andamento,Engenheiro 7,Residencial,261,Andares 11,Defalt2,33
12,Projeto 13,Local 83,865406,2024-09-27 00:10:46.519024,2025-09-11 00:10:46.519024,Concluído,Engenheiro 7,Residencial,346,Andares 12,Defalt2,36
13,Projeto 14,Local 25,778738,2024-09-15 00:10:46.519024,2025-07-26 00:10:46.519024,Cancelado,Engenheiro 4,Comercial,294,Andares 13,Defalt2,39
14,Projeto 15,Local 86,320313,2024-12-22 00:10:46.519024,2025-08-05 00:10:46.519024,Concluído,Engenheiro 7,Residencial,50,Andares 14,Defalt2,42
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,Andares 15,Defalt2,45
16,Projeto 17,Local 74,711112,2024-05-05 00:10:46.519024,2025-01-14 00:10:46.519024,Em andamento,Engenheiro 9,Industrial,186,Andares 16,Defalt2,48
17,Projeto 18,Local 47,884740,2024-10-06 00:10:46.519024,2025-06-01 00:10:46.519024,Cancelado,Engenheiro 3,Residencial,489,Andares 17,Defalt2,51
18,Projeto 19,Local 51,145200,2024-04-04 00:10:46.519024,2024-05-28 00:10:46.519024,Concluído,Engenheiro 10,Industrial,200,Andares 18,Defalt2,54
19,Projeto 20,Local 53,959851,2024-08-25 00:10:46.519024,2024-11-18 00:10:46.519024,Cancelado,Engenheiro 5,Industrial,273,Andares 19,Defalt2,57

In [456]:
selec = construcao.query('Responsável == "Engenheiro 8"')
selec

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,Andares 0,Defalt2,0
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,Andares 4,Defalt2,12
8,Projeto 9,Local 61,981588,2024-04-01 00:10:46.519024,2025-02-05 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,336,Andares 8,Defalt2,24
10,Projeto 11,Local 40,598036,2024-08-22 00:10:46.519024,2025-02-27 00:10:46.519024,Cancelado,Engenheiro 8,Industrial,350,Andares 10,Defalt2,30
15,Projeto 16,Local 85,870447,2024-06-15 00:10:46.519024,2024-08-30 00:10:46.519024,Em andamento,Engenheiro 8,Comercial,299,Andares 15,Defalt2,45

In [457]:
teste2

,bom,ruim,pessimo,NOME,IDADE,PESO,ED_JEDI,PODER,Coluna a partir de lista,PODER(Pós Arco)
xboxone,50.0,131.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
playstation4,21.0,2.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
swith,100.0,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,Luke Skywalker,33.0,75.5,True,3.0,3.0,6.0

In [458]:
teste2.loc[3,'NaN'] = 222
teste2

,bom,ruim,pessimo,NOME,IDADE,PESO,ED_JEDI,PODER,Coluna a partir de lista,PODER(Pós Arco),NaN
xboxone,50.0,131.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
playstation4,21.0,2.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
swith,100.0,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,Luke Skywalker,33.0,75.5,True,3.0,3.0,6.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222.0

In [459]:
teste2.loc[0,'NOME'] = 'jair'
teste2

,bom,ruim,pessimo,NOME,IDADE,PESO,ED_JEDI,PODER,Coluna a partir de lista,PODER(Pós Arco),NaN
xboxone,50.0,131.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
playstation4,21.0,2.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
swith,100.0,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,jair,33.0,75.5,True,3.0,3.0,6.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222.0

In [460]:
teste2['(NOME)'] = np.nan

In [461]:
teste2['ruim'].isnull()

xboxone         False
playstation4    False
swith           False
0                True
3                True
Name: ruim, dtype: bool

In [462]:
teste2

,bom,ruim,pessimo,NOME,IDADE,PESO,ED_JEDI,PODER,Coluna a partir de lista,PODER(Pós Arco),NaN,(NOME)
xboxone,50.0,131.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
playstation4,21.0,2.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
swith,100.0,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,jair,33.0,75.5,True,3.0,3.0,6.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222.0,NaN

In [463]:
jaja = teste2['NaN'].fillna(0) 
jaja

xboxone           0.0
playstation4      0.0
swith             0.0
0                 0.0
3               222.0
Name: NaN, dtype: float64

In [464]:
teste2['PODER'].dropna(inplace=True)
teste2

,bom,ruim,pessimo,NOME,IDADE,PESO,ED_JEDI,PODER,Coluna a partir de lista,PODER(Pós Arco),NaN,(NOME)
xboxone,50.0,131.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
playstation4,21.0,2.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
swith,100.0,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,jair,33.0,75.5,True,3.0,3.0,6.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222.0,NaN

In [465]:
construcao.describe()

          Custo (R$)   Área (m²)  coluna sem nocao
count      20.000000   20.000000         20.000000
mean   580918.100000  293.900000         28.500000
std    301030.839472  120.491493         17.748239
min    121083.000000   50.000000          0.000000
25%    318655.250000  198.750000         14.250000
50%    586338.500000  296.500000         28.500000
75%    866666.250000  359.250000         42.750000
max    981588.000000  489.000000         57.000000

In [466]:
construcao['Custo (R$)'].describe()

count        20.000000
mean     580918.100000
std      301030.839472
min      121083.000000
25%      318655.250000
50%      586338.500000
75%      866666.250000
max      981588.000000
Name: Custo (R$), dtype: float64

In [467]:
coisa = construcao.describe()
coisa

          Custo (R$)   Área (m²)  coluna sem nocao
count      20.000000   20.000000         20.000000
mean   580918.100000  293.900000         28.500000
std    301030.839472  120.491493         17.748239
min    121083.000000   50.000000          0.000000
25%    318655.250000  198.750000         14.250000
50%    586338.500000  296.500000         28.500000
75%    866666.250000  359.250000         42.750000
max    981588.000000  489.000000         57.000000

In [468]:
coisa[['Custo (R$)', 'coluna sem nocao']]

          Custo (R$)  coluna sem nocao
count      20.000000         20.000000
mean   580918.100000         28.500000
std    301030.839472         17.748239
min    121083.000000          0.000000
25%    318655.250000         14.250000
50%    586338.500000         28.500000
75%    866666.250000         42.750000
max    981588.000000         57.000000

In [469]:
coisa.loc[['mean', 'max']]

      Custo (R$)  Área (m²)  coluna sem nocao
mean    580918.1      293.9              28.5
max     981588.0      489.0              57.0

In [470]:
coisa.loc[['mean', 'max'], 'Custo (R$)'	]

mean    580918.1
max     981588.0
Name: Custo (R$), dtype: float64

In [471]:
coisa

          Custo (R$)   Área (m²)  coluna sem nocao
count      20.000000   20.000000         20.000000
mean   580918.100000  293.900000         28.500000
std    301030.839472  120.491493         17.748239
min    121083.000000   50.000000          0.000000
25%    318655.250000  198.750000         14.250000
50%    586338.500000  296.500000         28.500000
75%    866666.250000  359.250000         42.750000
max    981588.000000  489.000000         57.000000

In [472]:
coisa['Custo (R$)'].min()

np.float64(20.0)

In [473]:
construcao.head()

,Nome do Projeto,Localização,Custo (R$),Data de Início,Data de Término,Status,Responsável,Tipo de Construção,Área (m²),Número de Andares,Poder,coluna sem nocao
0,Projeto 1,Local 89,313682,2024-09-04 00:10:46.519024,2025-01-20 00:10:46.519024,Concluído,Engenheiro 8,Comercial,139,Andares 0,Defalt2,0
1,Projeto 2,Local 72,955373,2024-10-24 00:10:46.519024,2025-07-23 00:10:46.519024,Cancelado,Engenheiro 10,Industrial,387,Andares 1,Defalt2,3
2,Projeto 3,Local 37,413047,2024-12-05 00:10:46.519024,2025-04-14 00:10:46.519024,Concluído,Engenheiro 5,Comercial,274,Andares 2,Defalt2,6
3,Projeto 4,Local 60,421289,2024-03-17 00:10:46.519024,2024-11-23 00:10:46.519024,Concluído,Engenheiro 6,Residencial,446,Andares 3,Defalt2,9
4,Projeto 5,Local 96,840575,2024-08-18 00:10:46.519024,2025-01-18 00:10:46.519024,Concluído,Engenheiro 8,Comercial,120,Andares 4,Defalt2,12

In [474]:
construcao['Status'].value_counts()

Status
Cancelado       9
Concluído       7
Em andamento    4
Name: count, dtype: int64

In [475]:
cosntrucao2 = construcao['Status'].value_counts().to_frame()

In [476]:
cosntrucao2.rename(columns= {'count' : 'Frequencia'})

              Frequencia
Status
Cancelado              9
Concluído              7
Em andamento           4

In [477]:
df = pd.DataFrame({ 'A': [1, 2, 3, 4], 
                    'B': [10, 20, 30, 40],
                    'C': [100, 200, 300, 400]}, 
                     index=['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])

In [478]:
df

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

In [479]:
def nossa_soma(series):
    return series.sum()

In [480]:
df['Soma do A + B + C'] = df.apply(nossa_soma, axis=1)
df

         A   B    C  Soma do A + B + C
Linha 1  1  10  100                111
Linha 2  2  20  200                222
Linha 3  3  30  300                333
Linha 4  4  40  400                444

In [482]:
df.loc['linha 5'] = df.apply(nossa_soma, axis=0)
df

          A    B     C  Soma do A + B + C
Linha 1   1   10   100                111
Linha 2   2   20   200                222
Linha 3   3   30   300                333
Linha 4   4   40   400                444
linha 5  20  200  2000               2220